.register-popup-wrapper{
    user-select: none;
}
.register-popup-wrapper span {
    user-select: none;
    cursor: pointer;
}

.register-popup-wrapper .register-bottom-popup-zone {
    display: flex;
    height: auto;
}

.popup-zone-left {
    color: #696969;
    font-size: 12px;
    margin-right: 12px;
    border-right: 1px solid #fff;
    position: relative;
}

.popup-zone-left::before {
    width: 1px;
    background: #ccc;
    position: absolute;
    bottom: 0;
    right: -2px;
    top: 0;
    content: '';
}

.register-popup-input .zone-forget-password {
    display: flex;
    position: relative;
}

.forget-password {
    right: 0;
    position: absolute;
    font-size: 12px;
    color: orange;
    text-decoration: none;
    transform: translate(0px, 5px);
}

.register-popup-zone-right {
    color: gray;
    margin-left: 20px;
    margin-right: 20px;
    align-self: center;
}

.register-popup-zone-right p {
    text-align: center;
    margin: 0px;
}

.register-bottom-popup-zone p {
    font-size: 13px;
    margin-top: 1px;
    margin-bottom: 5px;
    font-family: 'ProximaNovaSB';
}

.register-popup-input {
    display: flex;
    position: relative;
    margin-bottom: 3px;
    width: 330px;
}

.login-popup-checkbox {
    transform: translate(0, 2px);
}

.link-conditions {
    color: orange;
    text-decoration: none;
}

.register-popup-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    color: white;
    background: rgba(220, 220, 220, .5);
    z-index: 10;
}

.register-popup-zone {
    position: absolute;
    top: 27%;
    left: 33%;
    border: 1px solid #696969;
    background: rgb(255, 255, 255);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 25%, rgba(217, 217, 217, 1) 74%, rgba(217, 217, 217, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 25%, rgba(217, 217, 217, 1) 74%, rgba(217, 217, 217, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 25%, rgba(217, 217, 217, 1) 74%, rgba(217, 217, 217, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d9d9d9', GradientType=0);
    /* IE6-9 */
    border-radius: 10px;
    padding: 12px;
    -webkit-box-shadow: 6px 6px 16px 0px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.6);
    box-shadow: 6px 6px 16px 0px rgba(0, 0, 0, 0.6);
    min-height: 325px;
    width: 550px;
    display: block;
}

.title-popup-item {
    color: #696969;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 35px;
}

.register-top-popup-zone {
    position: relative;
}

.register-top-popup-zone .close-popup {
    position: absolute;
    right: 0px;
    top: 0px;
}

.register-popup-input.button-sign-in {
    margin: 0px;
}

.popup-zone-left.login-left {
    padding-right: 28px;
}

.register-popup-zone-input input {
    width: 200px;
    padding-left: 2px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 2px;
}

.register-popup-suggestion {
    position: absolute;
    height: auto;
    max-width: 100px;
    background: #fff;
    color: #696969;
    width: 100%;
    font-size: 11px;
    right: 9px;
    top: 23px;
    box-shadow: 3px 2px 4px rgba(0, 0, 0, .3);
    border-radius: 5px;
    border-top-left-radius: 0;
    border: 1px solid #d5d5d5;
    padding: 3px;
}

.register-popup-suggestion::before {
    position: absolute;
    top: -1px;
    left: -9px;
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-top-width: 0px;
    border-bottom-width: 7px;
    border-right: 9px solid #d5d5d5;
    content: '';
}

.register-popup-suggestion::after {
    position: absolute;
    top: 0px;
    left: -8px;
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-top-width: 0px;
    border-bottom-width: 5px;
    border-right: 8px solid #fff;
    content: '';
}

.text-input .width-input {
    border-width: 1px !important;
    border-color: #696969 !important;
    border-style: solid;
    padding-left: 2px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 2px;
}

.text-input .width-input:focus {
    outline: none;
    -webkit-box-shadow: 0px 0px 1px 1px rgba(130, 186, 237, 1);
    -moz-box-shadow: 0px 0px 1px 1px rgba(130, 186, 237, 1);
    box-shadow: 0px 0px 1px 1px rgba(130, 186, 237, 1);
}

.zone-offer-news hr,
.zone-agree-register hr {
    border-bottom: none;
    border-top: 1px solid #cccccc;
    margin-top: 20px;
    margin-right: 15px;
}

.zone-agree-register-devide{
    margin-top: 5px !important;
}

.zone-agree-register a {
    margin-left: 5px;
    color: #fd7c21;
    font-size: 11px;
}

.message-success {
    color: #109f10;
    margin-top: 5px;
    font-size: 12px;
}

.message-failed {
    color: rgb(255, 0, 0);
    margin-top: 5px;
    font-size: 12px;
    width:200px;
}

.continuing-agree-term{
    font-size: 12px !important;
}

.red-popup-wrapper{
    position: absolute;
    top: 20px;
    right: -12px;
    z-index: 1;
}

.choose-username{
    left: 220px !important;
    right:-190px;
}

.red-popup{
    background: #c03033;
    font-size: 12px;
    color: white;
    padding: 5px 8px;
    border: 1px hidden;
    border-radius: 3px;
    position: relative;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, .4)
}

.triangle2{
    z-index: 5;
    position: absolute;
    margin: 0;
    left: 0;
    display: inline;
    cursor: pointer;
    z-index: 10;
    top:14px;
}

.triangle2::after{
    width: 0;
    height: 0;
    content: "";
    position: absolute;
    top: -8px;
    left: -12px;
    z-index: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-right: 15px solid #c03033;

}
