.change-design-book-content {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}