.text-field-wrapper {
    display: inline-block;
    position: absolute;
    transform-origin: top left;
    z-index: 10;
}
.text-field-wrapper:hover {
    border: 1px solid #C9EAF3;
}

.text-field-wrapper.light:hover {
    background: rgba(255,222,222,0.5);
}

.text-field-wrapper.dark:hover {
    background: rgba(255,255,255,0.1);
}

.text-field-wrapper.selected {
    z-index: 50;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    background: rgba(255,255,255,0);
    border: 1.5px solid #C9EAF3;
}

.text-field-zone {
    width: 100%;
    height: 100%;
    position: relative;
    /* background: rgba(255, 48, 48, 0.02); */
    overflow: hidden;
    cursor: text;
}

.text-field-zone .RichEditor-editor {
    width: 100%;
    height: 100%;
}

.text-edit-control {
    z-index: 1;
    position: absolute;
    transform-origin: top center;
    display: table;
}

.text-field-placeholder {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #b1afaf;
    font-size: 13px;
}