.same-color-zone {
    position: absolute;
    width: 280px;
    left: 50%;
    height: 40px;
    margin-left: -170px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #9e9e9e;
    -webkit-box-shadow: 3px 3px 12px -2px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 3px 3px 12px -2px rgba(0, 0, 0, 0.7);
    box-shadow: 3px 3px 12px -2px rgba(0, 0, 0, 0.7);
    background: #787878;
    background: -moz-linear-gradient(top, #787878 0%, #767676 3%, #6f6f6f 8%, #707070 10%, #6c6c6c 11%, #6d6d6d 12%, #686868 17%, #656565 19%, #656565 21%, #5c5c5c 28%, #525252 39%, #4f4f4f 41%, #505050 42%, #4c4c4c 43%, #4d4d4d 45%, #464646 50%, #474747 51%, #414141 55%, #404040 57%, #383838 64%, #383838 66%, #343434 68%, #353535 69%, #323232 70%, #272727 81%, #262626 85%, #1d1d1d 91%, #1d1d1d 93%, #151515 100%);
    background: -webkit-linear-gradient(top, #787878 0%, #767676 3%, #6f6f6f 8%, #707070 10%, #6c6c6c 11%, #6d6d6d 12%, #686868 17%, #656565 19%, #656565 21%, #5c5c5c 28%, #525252 39%, #4f4f4f 41%, #505050 42%, #4c4c4c 43%, #4d4d4d 45%, #464646 50%, #474747 51%, #414141 55%, #404040 57%, #383838 64%, #383838 66%, #343434 68%, #353535 69%, #323232 70%, #272727 81%, #262626 85%, #1d1d1d 91%, #1d1d1d 93%, #151515 100%);
    background: linear-gradient(to bottom, #787878 0%, #767676 3%, #6f6f6f 8%, #707070 10%, #6c6c6c 11%, #6d6d6d 12%, #686868 17%, #656565 19%, #656565 21%, #5c5c5c 28%, #525252 39%, #4f4f4f 41%, #505050 42%, #4c4c4c 43%, #4d4d4d 45%, #464646 50%, #474747 51%, #414141 55%, #404040 57%, #383838 64%, #383838 66%, #343434 68%, #353535 69%, #323232 70%, #272727 81%, #262626 85%, #1d1d1d 91%, #1d1d1d 93%, #151515 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#787878', endColorstr='#151515', GradientType=0);
    z-index: 11;
    bottom: 0;
}

.same-color-zone .triangle {
   top: -15px;
   width: 50px;
   height: 25px;
   margin-top: -10px;
   margin-left: -20px;
   right: initial;
   left: 50%;
    position: absolute;
    overflow: hidden;
    box-shadow: 0 16px 10px -17px rgba(0, 0, 0, .5);
    left: initial;
    display: inline-block;
    transform: rotate(360deg);
}

.same-color-zone .triangle:after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background: #777;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 62%;
    left: 20%;
    box-shadow: 0px -1px 2px 0px rgba(0, 0, 0, 0.3);
}

.same-color-image {
    float: left;
    font-size: 27px;
    margin-top: 6px;
}

.same-color-image.icon-ColorPicker .path1:before {
    color: transparent;
}

.same-color-image.icon-ColorPicker .path2:before {
    color: #fff;
}

.same-color-label {
    float: left;
    width: 60px;
    height: 35px;
    font-size: 13px;
    margin-left: 7px;
    text-align: left;
    color: #fff;
}

.same-color-square {
    float: left;
    width: 37px;
    height: 37px;
    margin-left: 10px;
    border: 1px solid #000;
}

.same-color-button {
    float: right;
    margin-top: 6px;
    margin-right: 32px;
    height: 25px;
}

.same-color-button .button-blurb-content {
    font-family: 'ProximaNova-Regular';
    font-size: 12px;
}

.same-color-close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 10px;
    width: 50px;
    background: #757575;
    background: -moz-linear-gradient(top, #757575 0%, #0c0c0c 100%);
    background: -webkit-linear-gradient(top, #757575 0%, #0c0c0c 100%);
    background: linear-gradient(to bottom, #757575 0%, #0c0c0c 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#757575', endColorstr='#0c0c0c', GradientType=0);
    color: #fff;
    border: 1px solid #000;
}